---
import Layout from '../layouts/Layout.astro';
import ContextAlert from '../components/ContextAlert.astro';
import Markdown from '../components/Markdown.astro';

const explainer = `
## What is _CRYSTAL AND FLAME_?

_CRYSTAL AND FLAME_ is an experimental art writing journal, dedicated to bridging gaps in the cultural community. The journal will feature interviews with artists across mediums and cultures; speculative art writing that shakes up the way we understand what art writing can do and be; ekphrasis; divination projects; poetry; and opportunities for our audience to engage with our writers and editors directly. We are creating opportunities for circular engagement between staff and readership for the purpose of opening the site of discourse and recasting writing and thinking as shared, collaborative, and community acts.

## What is our mission?

_CRYSTAL AND FLAME_ exists to democratize arts discourse and expand representation in arts publishing by creating a platform for experimental art writing, public events, and workshops. Central to our mission is our intent to transform how arts ecosystems value artists and writers, empower public conversation about art, and instigate just labor standards in literary publishing.
In times of heightened social upheaval, language is often used against us, feeding conflicts and causing separation. Art offers medicine and answers for the problems we face. When we experience limitations in our ability to access art, whether because of economic, geographic, or other disparities, then our ability to expand our relationships and understanding can also become limited. _CRYSTAL AND FLAME’s_ purpose is to uphold artworks that demand to be written about, create a megaphone for their transmissions, and bring artists and their audiences closer together. 

## Why is the project called _CRYSTAL AND FLAME_? 

In _Six Memos for the Next Millennium_, the Italian writer Italo Calvino wrote that all contemporary art and architecture could be symbolically categorized as belonging to crystal (representing the height of organizational power via the principles of crystal structures), or flame (representing the catalytic transformation available through intense heat). We welcome debate about this notion. The idea is intended as a playful entry for anyone to engage in debate about art, regardless of their experience. 
We are instigating a new approach to creative-critical debate by creating a formal yet approachable discourse: Does the viewer categorize a given artwork as crystal or flame? Based on what? Aesthetics? Emotionality? Sensorial experience? Color? Each subject that _CRYSTAL AND FLAME_ writers cover will be sorted into a category by the journal’s staff; the public will be invited to disagree and debate.

## What is the origin story of the project?

While serving artists professionally as a grant writer and editor over the past 10+ years, Maura noticed striking patterns in the challenges that her communities and clients faced in the art market, notably: The demand that artists not only create important work, but also write about, market, and locate press for it. This unrealistic expectation results in capitalistic, survival-driven pressures that often affect what and how artists create. Integrating this vantage with her own experiences as a working artist and writer, she began to track ways that these demands disable cultural risk-taking, limit community power, and impact artists’ health.
 
At the same time that she was collaborating with clients, Maura was providing her own cultural work without any industry standard of fair wages in independent publishing. The standing assumption in literary publishing remains that writers will create as a ‘labor of love’ and should be grateful to be in print at all. While many of us feel grateful to be in print, this attitude permits the continuing exploitation of poets, allows for monetary compensation and wage reform to be evaded by literary publishers, and invisibilizes the value of the expert labor and cultural service provided by writers. 
 
Witnessing these issues come to a head during and after the pandemic–(women writers specifically were among one of the hardest hit groups economically during the pandemic)--Maura initiated _Crystal and Flame_ as a vehicle to create multi-faceted answers to these problems. In partnership with her core writing, editorial, and design team, she developed the project’s concept. Together we are embarking on a playful, solutions-minded journey.

## How can I get involved?

We are seeking donors to support our start up costs. If you would like to learn more or collaborate on creating new pathways for a healthier arts economy, please reach out to Maura:  maura@crystalandflame.com. 

Donate via [Zelle](https://www.zellepay.com/go/zelle): [(510) 641-6518](https://www.zellepay.com/go/zelle)

If you are a writer or editor who thinks you would be a good fit and you’re interested in contributing, please share about yourself and your interest: maura@crystalandflame.com. 

We look forward to hearing from you. Thank you in advance.

`;
---

<Layout title="About Crystal and Flame.">
    <ContextAlert class="mb-4" />
    <h1 class="mb-10"><i>Crystal and Flame</i>: About the project</h1>
    <Markdown content={explainer} class="text-lg mb-10" />
</Layout>
