---
import Layout from '../layouts/Layout.astro';
import ContextAlert from '../components/ContextAlert.astro';
return Astro.rewrite('/support-the-project/');
---

<Layout title="About Crystal and Flame.">
    <ContextAlert class="mb-4" />
    <h1 class="mb-10"><i>Crystal and Flame</i>: About the project</h1>
</Layout>
