---

---

<footer class="pt-16 pb-12 sm:pt-24 sm:pb-16">
    <p class="text-sm">
        <a href="mailto:maura@crystalandflame.com" class="decoration-dashed text-primary underline-offset-8"> maura@crystalandflame.com </a><br />
        Follow us <a href="https://www.instagram.com/crystalandflame" class="decoration-dashed text-primary underline-offset-8"> @crystalandflame </a>.
    </p>
</footer>
