---
import Layout from '../../layouts/Layout.astro';
import ContextAlert from '../../components/ContextAlert.astro';
import Markdown from '../../components/Markdown.astro';

const explainer = `
We are a group of artists and writers creating for artists and writers. 


## _Crystal and Flame_ Team

 
**Maura Pellettieri** | Founding Editor (Oakland / Jerusalem)
 
is a writer and editor from New York. Maura received her BA in English Language and Literature from SUNY Buffalo and her MFA in Writing from Washington University in St. Louis, where she received a postgraduate fellowship. Maura has collaborated widely with visual artists, performers, and composers, including Matthew Evan Taylor, Catalina Ouyang, JAŠA, Sarah E. Brook, and others. She has given talks on social practice, collaboration, ritual, and poetics at the Cleveland Institute of Art, the Contemporary Art Museum in St. Louis, Washington University in St. Louis, and other spaces. Her writing can be found in _Denver Quarterly_, _Kenyon Review_, _Conjunctions_, _On the Seawall_, _The Literary Review_, _Fairy Tale Review_, and others. She is a kohenet (traditional hebrew ritualist), and has spent the past few years teaching creative writing, ecopoetics, queer ecology, and embodiment and ancestral repair modalities remotely and throughout the San Francisco Bay Area.

---

**Jason Lai** | Divinator (St. Louis)
 
is a tarot reader, poetic interpreter of symbols and signs, and healer, living and dreaming in St. Louis. 

---

**Daniela Molnar** | Writer (Portland)
 
is an artist and writer working in mediums of language, image, paint, pigment, and place. Daniela is also a wilderness guide, educator, and eternal student. A cornerstone of her practice is to be resolutely non-expert and committed to change. Her book CHORUS was selected by Kazim Ali as the winner of Omnidawn’s 1st /2nd Book Prize. Her next book, Light / Remains, is a hybrid work of poetry, essay, and visual art and will be published in 2025. Her visual art focuses on transmuting grief to wonder in order to help shape and nurture generative new questions, feelings, and ethics about what it means to be human at a time of socio-ecological crisis.

---

**Young Rader** | Writer (Berlin)
 
lives and writes in Berlin. His work has appeared in the Chicago Review, New England Review, Little Star, Passages North, and elsewhere. His stories have been shortlisted for the Desperate Literature Short Fiction Prize and the Berlin Writing Prize. He received his MFA in Fiction at Washington University in St. Louis. 
 
---

**Matthew Woodward** | Writer (New York)
 
is an artist and writer living in New York City, originally from Rochester, New York. He received his BFA at the School of the Art institute of Chicago and his MFA at the New York Academy of Art. He previously taught at Dominican University and has given lectures throughout the United States, including at the New York Academy of Art, DePaul University, and others. His work has been shown at Gray Contemporary, Citispire, Studio, The Comfort Station, and Columbia College Chicago, among others. Woodward has been an artist in residence at The Edward Albee Foundation, Cill Rialiag in Ireland, the Vermont Studio Center, and in 2021 was the Pollock-Krasner Foundation’s Mid Career Artist in Residence at the Fine Arts Work Center in Provincetown. His work has appeared in numerous publications, including New American Paintings and the Wall Street Journal, and has been reviewed in Hyperallergic, Art Pulse, Chicago Art Magazine, Bad at Sports, and Art Critical.

---

and more coming soon!


`;
---

<Layout title="Who is Crystal and Flame.">
    <ContextAlert class="mb-4" />
    <h1 class="mb-10">Who We Are</h1>
    <Markdown content={explainer} class="text-lg mb-10" />
</Layout>
