---
import Layout from '../../layouts/Layout.astro';
import ContextAlert from '../../components/ContextAlert.astro';
import Markdown from '../../components/Markdown.astro';

const explainer = `
Dear Friends,

I find myself at the edge of two wildernesses–that of the natural world, which is rich, thriving and alive, which I know and love as home, and that of the speculative future we are already in, of technology, AI and the question marks that arrive with it about the value of writers in public discourse. One of these wildernesses commands my respect and is my greatest ally and friend. The other is foreign to me, and incites my apprehension–an unknown  stranger I am wary of. In San Francisco, the details of this tension are materially present and in our faces potently. Perhaps, even if the dystopia hasn’t hit your outward reality yet, you can relate. 

We often talk about things like democratizing art access and increasing representation in the arts, but in the past few years since the pandemic hit, have we really revealed better stakes for all, or are we just tokenizing with a cleaner performance? What have our collective intentions meant in practice and how do we get to the art world paradigm we want to inhabit? How will literary publishing and writers survive? Or more to the point, how _are_ we surviving? Perhaps if the wider collective could feel what it takes to live the frontlines of this moment as a creative, AI would already be put to bed. 

We live in a world that consistently devalues the labor of artists–and statistically, at least monetarily, devalues the labor of creative writers even more. How do we create a world that respects its creatives, monetarily and beyond? How do we initiate stability and mutual power in our industries?

_Crystal and Flame_ is an art writing journal and small press project that reflects my relationship to these questions, and forms my attempt to play in the field of answers as an art writer, editor, and literary entrepreneur.  I have ideas for strategies we might employ to shift financial models and paradigms in favor of artists. I cannot know until I initiate these ideas what they will lead to. I do know that this project has the capacity to function as a vehicle for experimentation for these attempts–at maximum, yielding new systems and paradigms for artists, writers, and our world, and at minimum, provide a platform for the conversation to grow. I also know that our collective and cultural health is connected to our ability to prioritize our value of artists and writers, which includes an expression of compensation that does not yet exist in practice.

We have an incredible crew of writers, editors, and designers who are actively working on getting beautiful, hope-instigating, world-building content to you. We are currently creating at cost. There is nothing new about this–it is how things have been done for a long time. But just because we’ve done things a certain way for a long time, doesn’t mean we should continue. The publishing industry is at risk for many reasons–the umbrella over all of its problems being karma: that is, how it treats the ones without whom it would not exist. 

I recently watched a feel good flick called _Begin Again_, in which Kiera Knightly plays a musician who decides that the music industry does not have her interest at heart and invents her own color wheel of success. She does it with the support of individuals who believe in the project of her work. This is the sort of engagement we need to make changes in publishing.

I believe that this project can make waves in the arts and literary industries. We cannot do it without you. 

If you believe in a future that is written by the wild, and a paradigm that is artist-led, help us bridge a gap of $15,000, which will support our team and cover nonnegotiable start-up costs.

While this will not be the last fundraising ask I make on behalf of this project, it may be the most important. While we invent creative solutions to the above problems, we are still operating within the old systems, which means our core team is actively taking a hit for the future of the art world and the collective's cultural health. 

We are within sight of our launch; the next moments are crucial. Will you help us bridge the gap?

Can you help us with a gift of $50, $100, 250? 
There are no small gifts. But consider the worth of a new world, and to the degree your pockets are warm and lined, I invite you to give in congruence with that value. 

Donate via [Zelle](https://www.zellepay.com/go/zelle): [(510) 641-6518](https://www.zellepay.com/go/zelle)

### What you will be making possible and helping bring to the world:

- The launch of an open-access digital journal of art writing, including  brave experiments and new ways of approaching what art writing can do and be
- A print edition of the journal with new and ‘best of’ content from the year (published by a woman-owned printer in San Francisco) 

### What the journal will offer:

- Interviews with artists across mediums and cultures; speculative art writing; ekphrasis; a divination project; poetry; invented forms
- Opportunities for direct engagement among writers and readers for the purpose of opening the site of arts discourse and recasting writing and thinking as shared, collaborative, and community-engaged acts
- _The Cursebreaker’s Folio_ – a special folio dedicated to writing about the work of artists who are creating about israelpalestine, and about questions of identity and peacemaking in the holy land in ways that interrupt stagnancy and inflammatory thought-patterns in the collective that feed cycles of violence. 
- And much more!

### Where your dollars will go:

- Directly to the pockets of our writers, editors, and designers to support their vital labor  
- Honorariums to participating and contributing artists
- Nonnegotiable start up costs, such as web fees and image copy fees

Donate via [Zelle](https://www.zellepay.com/go/zelle): [(510) 641-6518](https://www.zellepay.com/go/zelle)

### Thank you for your support! 

With your help, this project has the potential to create a ripple throughout literary publishing and the art world(s) and to expand cultural vibrancy and community health+joy in numerous creative sectors. The paradigm-shifting work that this project intends to do is possible only in collaboration with the support of you and others like you. Please join us in creating the art world of our shared future. You can donate to this project at the links above. If you are interested in becoming a sustaining donor, funding a particular aspect of the project, or would like to deepen the conversation about how arts funding might grow in integrity and leverage power for artists, please reach out to Maura at maura@crystalandflame.com.

Whether or not you’re able to give at this time, please take a few moments to share this note with your family, friends, and community. **If you can forward this page to 3 or more people, that would expand our reach considerably**. 

We’d love to stay in connection, let you know when the journal launches, share news about our upcoming events, and give you fundraising campaign updates. We promise not to spam you, and to send messages only when we have news. To stay on our mailing list, sign up here.

Please note that _Crystal and Flame_ is a punk endeavor, not a 501c3. This may change in the future. For now, your donation is not tax deductible. There will be other rewards for your presence and involvement, but they will be punk rewards: Authentic, bright, hardcore, gravitational, and possibly hot pink. More details about all of that are coming. 

Thank you for reading, donating, forwarding, and most important of all, for being here on this earth at this fulcrum moment, this most vital time. With gratitude–

Yours,<br />
Maura

`;
---

<Layout title="Support the Project Crystal and Flame.">
    <ContextAlert class="mb-4" />
    <h1 class="mb-10">Support <i>Crystal and Flame</i>: A note on world-building and beginning again</h1>
    <Markdown content={explainer} class="text-lg mb-10" />
</Layout>
